{% extends 'base.jinja.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ versioned('/styles_info.css') }}" />
{% endblock %}

{% block content %}
<main id="information-panel">
  <h1>Good to Know</h1>
  <p class="info-blurb">Everything you might want to ask</p>

  {% for qa in data.faq %}
    <h2>{{ qa.question }}</h2>
    <p>{{ qa.answer }}</p>
  {% endfor %}


  {# These remain hard coded due to additional anchors, etc and are unlikely to change or be reused #}
  <h2>Something else?</h2>
  <p>Reach us on Instagram <a href="{{ data.header_nav[0].href }}" target="_blank">@yarnandmoggy</a> — we're friendly, promise 🐱</p>

  <span class="reveal-email" data-user="olleh" data-domain="ku.oc.yggomdnanray">
    <button onclick="revealEmail(this.parentElement)">Show email</button>
  </span>

</main>
{% endblock %}

{% block extra_js %}
<script>
function revealEmail(el) {
  const user = el.dataset.user.split('').reverse().join('');
  const domain = el.dataset.domain.split('').reverse().join('');
  const email = `${user}@${domain}`;
  el.innerHTML = `<a href="mailto:${email}">${email}</a>`;
}
</script>
{% endblock %}

{% block schema_org %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for entry in data.faq %}
    {
      "@type": "Question",
      "name": {{ entry.question | tojson }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ entry.answer | tojson }}
      }
    },
    {% endfor %}
    {# Final one is the instagram one #}
    {
      "@type": "Question",
      "name": "Something else?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Reach us on Instagram @yarnandmoggy — we're friendly, promise 🐱"
        }
    }
  ]
}
</script>
{% endblock %}
